@import url('https://fonts.googleapis.com/css2? family= Clicker+Script & family= Poppins:wght@200;300;400;500;600;700 & display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::before, ::after{
    box-sizing: border-box;
}
:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

}
body.dark{
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}
body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.section{
    background: var(--bg-black-900);
    display: block;
    min-height: 100vh;
    padding: 0 30px;
    z-index: 0;
}
.main_content{
    padding-left: 270px;
    
}
.hidden{
    display: none !important;
}
.padd_15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container{
    padding-top: 20px;
    padding-bottom: 70px;
}
.section_title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section_title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;

}
.section_title h2::before{
    content: "";
    height: 4px;
    width: 100px;
    border-radius: 10px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section_title h2::after{
    content: "";
    height: 4px;
    width: 50px;
    border-radius: 10px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    display: inline-block;
    white-space: nowrap;
    color: white;
    text-align: center;
    background: var(--skin-color);
    padding: 5px 35px;
    transition: all .45s ease;
}
.btn:hover{
    transform: translateX(5px);
}
.cv:hover{
    transform: translateX(-5px);
}
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    border-right: 1px solid var(--bg-black-50);
    left: 0;
    top: 0;
    z-index: 12;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
}
.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}
.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.aside .nav_toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
}
.aside .nav_toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav_toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav_toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
    transition: all .45s ease;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: var(--text-black-900);
    padding: 5px 15px;
    border-bottom: 1px solid var(--bg-black-50);
}
.aside .nav li:hover{
    transform: translateX(-5px);
}
.aside .nav li a.active{
    color: var(--skin-color);
}
.aside .nav li a i{
    margin-right: 15px;
}
.shadow_dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.25);
}
/*home*/
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home_info{
    flex: 0 0 60%;
    max-width: 60%;

}
.home_info p{
    margin: 50px 0px;
    font-size: 15px;
    color: var(--text-black-700);
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my_profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}
.home .home_img{
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
   
    text-align: center;
}
.home .home_img::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    top: -10px;
    left: 25px;
}
.home .home_img::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    bottom: 100px;
    right: 25px;
}
.home .home_img img{
    height: 300px;
    width: 350px;
}

.about .about_content{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.about .about_content .about_text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about_content .about_text h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--text-black-900);
}
.about .about_content .about_text p{
    font-size: 15px;
    line-height: 25px;
    color: var(--text-black-900);
}

.about .about_content .personnel_info{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about_content .personnel_info .info_item{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about_content .personnel_info .info_item p{
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
    transition: all .45s ease;
    font-size: 15px;
}
.about .about_content .personnel_info .info_item p span{
    font-weight: 600;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
    font-size: 10px;
}
.about .about_content .personnel_info .buttons{
    margin-top: 15px;
}
.about .about_content .personnel_info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.about .about_content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about_content .skills .skill_item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
.about .about_content .skills .skill_item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about_content .skills .skill_item .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about_content .skills .skill_item .progress .progress_item{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.about .about_content .skills .skill_item .skill_percent{
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    color: var(--text-black-900);
    line-height: 40px;
}
.about .about_content .education, .about .about_content .experience{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 15px;
}
.about .about_content h3.title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about_content .timeline_box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about_content .timeline{
    background: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about_content .timeline .timeline_item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about_content .timeline .timeline_item:last-child{
    padding-bottom: 0;

}
.about .about_content .timeline .timeline_item::before{
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background: var(--skin-color);

}
.about .about_content .timeline .circle_dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--skin-color);

}
.about .about_content .timeline .timeline_item .timeline_date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);

}
.about .about_content .timeline .timeline_item .timeline_date .bx{
    margin-right: 10px;
}
.about .about_content .timeline .timeline_item .timeline_title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-700);
}
.about .about_content .timeline .timeline_item .timeline_text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}




.section .container{
    padding-bottom: 40px;
}
.service .service_item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;

}
.service .service_item .service_item_inner{
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    cursor: pointer;
    transition: all .45s ease;
}
.service .service_item .service_item_inner:hover{
    box-shadow:  0 0 20px rgba(48, 46, 77, 0.25);
    transform: translateY(2px);
}
.service .service_item .service_item_inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all .45s ease;
}
.service .service_item .service_item_inner .icon .bx{
    font-size: 30px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all .45s ease;
}
.service .service_item .service_item_inner:hover .icon{
    background: var(--skin-color);
}
.service .service_item .service_item_inner:hover .icon .bx{
    font-size: 20px;
    color: #fff;
}
.service .service_item .service_item_inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;

}
.service .service_item .service_item_inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}



.portfolio .portfolio_heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
   
}
.portfolio .portfolio_heading h2{
    color: var(--text-black-900);
    font-weight: 500;

}

.portfolio .portfolio_item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio_item .portfolio_item_inner{
    border: 1px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all .45s ease;
}
.portfolio .portfolio_item .portfolio_item_inner:hover{
    transform: translateY(-5px);
}
.portfolio .portfolio_item .portfolio_item_inner .portfolio_img img{
    width: 100%;
    display: block;
}
.contact_title{
    color: var(--skin-color);
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.contact_sub_title{
    color: var(--text-black-900);
    font-size: 15px;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact_info_item{
    margin: auto;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact_info_item .icon{
    display: inline-block;
}
.contact .contact_info_item .icon .bx{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact_info_item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact_info_item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact_form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact_form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact_form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact_form .form_item{
    margin-bottom: 30px;
}
.contact .contact_form .form_item .form_control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all .45s ease;
}
.contact .contact_form .form_item .form_control:hover{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.25);
}
.contact .contact_form .form_item textarea.form_control{
    resize: none;
    height: 140px;
}
.contact .contact_form .btn{
    outline: none;
    border: none;
    cursor: pointer;
}
@media (max-width:1199px){
    .aside{
        left: -270px;
    }
    .main_content{
        padding: 0;
    }
    .about .about_content .personnel_info .info_item p span{
        display: block;
        margin-left: 0;
    }
}
@media (max-width:991px){
    .contact .contact_info_item,.portfolio .portfolio_item,.service .service_item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home_info{
        flex: 0 0 100%;
        max-width: 100%;
    }
   .home .home_img{
    display: none;
   }
}
@media (max-width:767px){
    .contact .contact_form .col-6,.contact .contact_info_item,.portfolio .portfolio_item,.service .service_item,.about .about_content .education,.about .about_content .experience,.about .about_content .skills,.about .about_content .personnel_info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}